---
import { sanitizeUrl } from '@helpers';

const work = [
  {
    date: 'Dec 2023',
    company: {
      title: 'Limestone Digital',
      url: 'https://limestonedigital.com/',
    },
    position: 'PHP/Wordpress Developer', 
    description: [
      'Creating sites for American storage facilities with Codeigniter',
      'Developing functionality and maintaining a product site on Wordpress + WPEngine',
      'Maintaining 20+ environments on WPEngine',
    ],
  },
  {
    date: 'Mar 2023 — Dec 2023',
    company: {
      title: 'Redwerk',
      url: 'https://redwerk.com/',
    },
    position: 'PHP/Wordpress Developer', 
    description: [
      'Wide maintenance of 8 corporate subdomains, implementing new functionality, pages, developing custom plugins',
      'Implemented sorting of Case Studies and Testimonials based on client IP',
      'Created a new content system, based on ACF Blocks',
      'Improved legacy Content Builder',
      'Close communication with PMs, DevOps, SEO specialists, designers, and other developers',
    ],
    sites: [
      'https://redwerk.com/',
      'https://qawerk.com/',
      'https://bugcrawl.qawerk.com/',
    ]
  },
];
---
<h3 class="mt-4">Work Experience</h3>

<div class="font-light">
  {work.map(item => (
    <div class="grid grid-cols-cv-work mt-3">
      <time class="px-3 py-2 content-center bg-dimmed rounded-s-lg" datetime={item.date}>
        {item.date}
      </time>

      <div class="col-span-2 px-3 py-2 bg-dimmed rounded-e-lg">
        <h4>
          <a href={item.company.url}>
            {item.company.title}
          </a>
        </h4>
        <p>
          {item.position}
        </p>
      </div>

      <div class="col-start-1 col-end-2 px-3 py-2">
        {item.sites && item.sites.map(site => (
          <a href={site}>
            {sanitizeUrl(site)}
          </a>
        ))}
      </div>

      <div class="col-start-2 col-end-4 px-3 py-2 text-balance">
        <ul>
          {item.description && item.description.map(item => (
            <li>
              {item}
            </li>
          ))}
        </ul>
      </div>
    </div>
  ))}
</div>