---
import Icon from '@components/Icon.astro';
import SectionTitle from '@components/SectionTitle.astro';

interface Props {
  data: any;
  title?: string;
}

const { data, title } = Astro.props;
---
<SectionTitle {title} />

<div>
  {data.map(item => (
    <div class="grid grid-cols-cv-work mt-3">
      <time class="px-3 py-2 content-center bg-dimmed rounded-s-lg" datetime={item.date}>
        {item.date}
      </time>

      <div class="px-3 py-2 bg-dimmed rounded-e-lg">
        <h4>
          <a href={item.university.url} target="_blank">
            {item.university.title}
          </a>
        </h4>
      </div>

      <div class="px-3 py-2 col-start-2">
        <p>
          {item.specialty}
        </p>
        <a class="mt-2 flex items-center gap-2" href={item.certificates.url} target="_blank">
          See other certificates on
          <Icon name={item.certificates.icon} width="20" height="20" />
        </a>
      </div>
    </div>
  ))}
</div>