---
import SectionTitle from '@components/SectionTitle.astro';
import { sanitizeUrl } from '@helpers/helpers.js';

interface Props {
  data: any;
  title?: string;
}

const { data, title } = Astro.props;
---
<SectionTitle {title} />

<div>
  {data.map(item => (
    <div class="grid grid-cols-cv-work mt-3">
      <time class="px-3 py-2 content-center bg-dimmed rounded-s-lg" datetime={item.date}>
        {item.date}
      </time>

      <div class="px-3 py-2 bg-dimmed rounded-e-lg">
        <h4>
          <a href={item.company.url} target="_blank">
            {item.company.title}
          </a>
        </h4>
        <p>
          {item.position}
        </p>
      </div>

      <div class="px-3 py-2">
        {item.sites && item.sites.map(site => (
          <a class="block" href={site} target="_blank">
            {sanitizeUrl(site)}
          </a>
        ))}
      </div>

      <div class="px-3 py-2 text-balance">
        <ul>
          {item.description && item.description.map(item => (
            <li>
              {item}
            </li>
          ))}
        </ul>
      </div>
    </div>
  ))}
</div>