---
import Introduction from '@components/sections/Introduction.astro';
import Contacts from '@components/sections/Contacts.astro';
import Work from '@components/sections/Work.astro';
import Projects from '@components/sections/Projects.astro';
import Education from '@components/sections/Education.astro';
import Skills from '@components/sections/Skills.astro';
import Languages from '@components/sections/Languages.astro';

interface Section {
  type: string;
  data: Object | Array<any>;
  title?: string;
}

interface Props {
  class?: string;
  sections: Array<Section>;
}

const { class: className, sections } = Astro.props;
---

<div class={`${className} mx-auto my-[8mm] first:mt-0 h-a4 w-a4 bg-white p-[8mm] shadow-lg relative`}>
  {sections.map(section => {
    switch(section.type) {
      case 'introduction': return <Introduction data={section.data} />;
      case 'contacts': return <Contacts data={section.data} title={section.title} />;
      case 'work': return <Work data={section.data} title={section.title} />;
      case 'projects': return <Projects data={section.data} title={section.title} />;
      case 'education': return <Education data={section.data} title={section.title} />;
      case 'skills': return <Skills data={section.data} title={section.title} />;
      case 'languages': return <Languages data={section.data} title={section.title} />;
      default: return;
    }
  })}
</div>